* {
    box-sizing: border-box;
    flex-wrap: wrap;
    color: aqua;
    
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(63, 62, 62);
  }
  ul>li {
    display: inline-block;
  }

  h1 {
    display: inline-block;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  
article {
  display: inline-block;
  text-align: center;
  padding: 0%;
  vertical-align: middle;
}

  header {
    padding: 60px;
    text-align: center;
    background-color: darkslategray;
    color: #fff;
    flex-wrap: wrap;
    margin: 3px;
    justify-content: center;
    flex: 1 0 200px;
  }
  
  .My-new-website {
    padding: 15px;
    float: left;
    width: 25%;
    margin: 3px;
    flex-wrap: wrap;
    display: inline-block;
  }

  .About-me {
    padding: 15px;
    float: left;
    width: 25%;
    margin: 3px;
    flex-wrap: wrap;
    display: flex;
  }

  .Project {
    padding: 15px;
    float: left;
    width: 25%;
    margin: 3px;
    flex-wrap: wrap;
    display: flex;
  }
  
  .contact-me{
    padding: 15px;
    float: left;
    width: 25%;
    margin: 3px;
    text-align: center;
    
  }

  .Text-center {
    padding: 15px;
   
    width: 25%;
    margin: 3px;
    display: inline-block;
    justify-content: center;

  }

  

  .Footer {
    padding: 15px;
    float: inline-end;
    width: 25%;
    margin: 3px;
    flex-wrap: wrap;
    display: flex;
  }

  @media screen and (max-width: 2005px) {
    header {
      background: #84158e;
    }
  }

  @media screen and (max-width: 1250px) {
    header {
      background: #772014;
    }
  }
  
  @media screen and (max-width: 800px) {
    header {
      background: #5d00ff;
    }
  }
  

  